@import "~bootstrap/scss/bootstrap";

.bg-pixabay {
  background-color: #00ab6b;
}

.text-pixabay {
  color: #00ab6b;
}

.tooltip-icon {
  cursor: pointer;
  color: #00ab6b;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.nav-link {
  :hover {
    color: #00ab6b;
  }
}

.dropdown-submenu {
  padding-left: 20px; /* Adjust this value for indentation */
}