{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .img-result {
            width: 100%;
            padding-bottom: 10%;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2023/11/14/20/08/woman-8388428_1280.jpg"
                     alt="Free Woman Silhouette photo and picture"
                     title="Download free HD stock image of Woman Silhouette">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2023/10/11/03/33/door-8307616_640.jpg"
                     srcset="https://cdn.pixabay.com/photo/2023/10/11/03/33/door-8307616_640.jpg 1x, https://cdn.pixabay.com/photo/2023/10/11/03/33/door-8307616_1280.jpg 2x"
                     alt="Free Door Wood illustration and picture" title="Download free HD stock image of Door Wood">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2023/08/17/08/55/ice-cream-8195933_640.png"
                     srcset="https://cdn.pixabay.com/photo/2023/08/17/08/55/ice-cream-8195933_640.png 1x, https://cdn.pixabay.com/photo/2023/08/17/08/55/ice-cream-8195933_1280.png 2x"
                     alt="Free Ice Cream Dessert vector and picture"
                     title="Download free HD stock image of Ice Cream Dessert">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2024/03/11/18/51/sunset-8627419_640.jpg"
                     srcset="https://cdn.pixabay.com/photo/2024/03/11/18/51/sunset-8627419_640.jpg 1x, https://cdn.pixabay.com/photo/2024/03/11/18/51/sunset-8627419_1280.jpg 2x"
                     alt="Free Sunset Palm Trees photo and picture"
                     title="Download free HD stock image of Sunset Palm Trees">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2024/05/30/19/37/girl-8799169_640.jpg"
                     srcset="https://cdn.pixabay.com/photo/2024/05/30/19/37/girl-8799169_640.jpg 1x, https://cdn.pixabay.com/photo/2024/05/30/19/37/girl-8799169_1280.jpg 2x"
                     alt="Free Girl Music illustration and picture" title="Download free HD stock image of Girl Music">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2023/09/05/14/39/old-8235289_640.jpg"
                     srcset="https://cdn.pixabay.com/photo/2023/09/05/14/39/old-8235289_640.jpg 1x, https://cdn.pixabay.com/photo/2023/09/05/14/39/old-8235289_1280.jpg 2x"
                     alt="Free Old Car Wallpapers photo and picture"
                     title="Download free HD stock image of Old Car Wallpapers">
            </div>
            <div class="col-lg-3">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2024/05/30/19/37/girl-8799169_640.jpg"
                     srcset="https://cdn.pixabay.com/photo/2024/05/30/19/37/girl-8799169_640.jpg 1x, https://cdn.pixabay.com/photo/2024/05/30/19/37/girl-8799169_1280.jpg 2x"
                     alt="Free Girl Music illustration and picture" title="Download free HD stock image of Girl Music">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2023/09/05/14/39/old-8235289_640.jpg"
                     srcset="https://cdn.pixabay.com/photo/2023/09/05/14/39/old-8235289_640.jpg 1x, https://cdn.pixabay.com/photo/2023/09/05/14/39/old-8235289_1280.jpg 2x"
                     alt="Free Old Car Wallpapers photo and picture"
                     title="Download free HD stock image of Old Car Wallpapers">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2023/11/14/20/08/woman-8388428_1280.jpg"
                     alt="Free Woman Silhouette photo and picture"
                     title="Download free HD stock image of Woman Silhouette">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2023/10/11/03/33/door-8307616_640.jpg"
                     srcset="https://cdn.pixabay.com/photo/2023/10/11/03/33/door-8307616_640.jpg 1x, https://cdn.pixabay.com/photo/2023/10/11/03/33/door-8307616_1280.jpg 2x"
                     alt="Free Door Wood illustration and picture" title="Download free HD stock image of Door Wood">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2023/08/17/08/55/ice-cream-8195933_640.png"
                     srcset="https://cdn.pixabay.com/photo/2023/08/17/08/55/ice-cream-8195933_640.png 1x, https://cdn.pixabay.com/photo/2023/08/17/08/55/ice-cream-8195933_1280.png 2x"
                     alt="Free Ice Cream Dessert vector and picture"
                     title="Download free HD stock image of Ice Cream Dessert">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2024/03/11/18/51/sunset-8627419_640.jpg"
                     srcset="https://cdn.pixabay.com/photo/2024/03/11/18/51/sunset-8627419_640.jpg 1x, https://cdn.pixabay.com/photo/2024/03/11/18/51/sunset-8627419_1280.jpg 2x"
                     alt="Free Sunset Palm Trees photo and picture"
                     title="Download free HD stock image of Sunset Palm Trees">
            </div>
            <div class="col-lg-3">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2023/11/14/20/08/woman-8388428_1280.jpg"
                     alt="Free Woman Silhouette photo and picture"
                     title="Download free HD stock image of Woman Silhouette">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2023/10/11/03/33/door-8307616_640.jpg"
                     srcset="https://cdn.pixabay.com/photo/2023/10/11/03/33/door-8307616_640.jpg 1x, https://cdn.pixabay.com/photo/2023/10/11/03/33/door-8307616_1280.jpg 2x"
                     alt="Free Door Wood illustration and picture" title="Download free HD stock image of Door Wood">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2023/08/17/08/55/ice-cream-8195933_640.png"
                     srcset="https://cdn.pixabay.com/photo/2023/08/17/08/55/ice-cream-8195933_640.png 1x, https://cdn.pixabay.com/photo/2023/08/17/08/55/ice-cream-8195933_1280.png 2x"
                     alt="Free Ice Cream Dessert vector and picture"
                     title="Download free HD stock image of Ice Cream Dessert">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2024/03/11/18/51/sunset-8627419_640.jpg"
                     srcset="https://cdn.pixabay.com/photo/2024/03/11/18/51/sunset-8627419_640.jpg 1x, https://cdn.pixabay.com/photo/2024/03/11/18/51/sunset-8627419_1280.jpg 2x"
                     alt="Free Sunset Palm Trees photo and picture"
                     title="Download free HD stock image of Sunset Palm Trees">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2024/05/30/19/37/girl-8799169_640.jpg"
                     srcset="https://cdn.pixabay.com/photo/2024/05/30/19/37/girl-8799169_640.jpg 1x, https://cdn.pixabay.com/photo/2024/05/30/19/37/girl-8799169_1280.jpg 2x"
                     alt="Free Girl Music illustration and picture" title="Download free HD stock image of Girl Music">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2023/09/05/14/39/old-8235289_640.jpg"
                     srcset="https://cdn.pixabay.com/photo/2023/09/05/14/39/old-8235289_640.jpg 1x, https://cdn.pixabay.com/photo/2023/09/05/14/39/old-8235289_1280.jpg 2x"
                     alt="Free Old Car Wallpapers photo and picture"
                     title="Download free HD stock image of Old Car Wallpapers">
            </div>
            <div class="col-lg-3">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2024/05/30/19/37/girl-8799169_640.jpg"
                     srcset="https://cdn.pixabay.com/photo/2024/05/30/19/37/girl-8799169_640.jpg 1x, https://cdn.pixabay.com/photo/2024/05/30/19/37/girl-8799169_1280.jpg 2x"
                     alt="Free Girl Music illustration and picture" title="Download free HD stock image of Girl Music">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2023/09/05/14/39/old-8235289_640.jpg"
                     srcset="https://cdn.pixabay.com/photo/2023/09/05/14/39/old-8235289_640.jpg 1x, https://cdn.pixabay.com/photo/2023/09/05/14/39/old-8235289_1280.jpg 2x"
                     alt="Free Old Car Wallpapers photo and picture"
                     title="Download free HD stock image of Old Car Wallpapers">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2023/11/14/20/08/woman-8388428_1280.jpg"
                     alt="Free Woman Silhouette photo and picture"
                     title="Download free HD stock image of Woman Silhouette">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2023/10/11/03/33/door-8307616_640.jpg"
                     srcset="https://cdn.pixabay.com/photo/2023/10/11/03/33/door-8307616_640.jpg 1x, https://cdn.pixabay.com/photo/2023/10/11/03/33/door-8307616_1280.jpg 2x"
                     alt="Free Door Wood illustration and picture" title="Download free HD stock image of Door Wood">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2023/08/17/08/55/ice-cream-8195933_640.png"
                     srcset="https://cdn.pixabay.com/photo/2023/08/17/08/55/ice-cream-8195933_640.png 1x, https://cdn.pixabay.com/photo/2023/08/17/08/55/ice-cream-8195933_1280.png 2x"
                     alt="Free Ice Cream Dessert vector and picture"
                     title="Download free HD stock image of Ice Cream Dessert">
                <img class="img-result"
                     src="https://cdn.pixabay.com/photo/2024/03/11/18/51/sunset-8627419_640.jpg"
                     srcset="https://cdn.pixabay.com/photo/2024/03/11/18/51/sunset-8627419_640.jpg 1x, https://cdn.pixabay.com/photo/2024/03/11/18/51/sunset-8627419_1280.jpg 2x"
                     alt="Free Sunset Palm Trees photo and picture"
                     title="Download free HD stock image of Sunset Palm Trees">
            </div>
        </div>
    </div>
    {% include 'front/components/overlay-top.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-1">
                <span><i class="fa-solid fa-heart" style="color: #00ab6b; padding-top: 8px"></i></span>
            </div>
            <div class="col-11">
                <h2>{{ 'Free media you can use anywhere'|trans }}</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-11">
                <p>{{ 'Pixabay is a vibrant community of creatives, sharing royalty-free images, videos, audio and other media. All content is released by Pixabay under the Content License, which makes it safe to use without asking for permission or giving credit to the artist - even for certain commercial purposes'|trans }}</p>
                <a class="link-success">{{ 'Learn more about our Licence'|trans }}</a>
            </div>
        </div>

    </div>
{% endblock %}