<style>
    .logo-img {
        padding-right: 5%;
    }
</style>
<style>
    .header-transparent {
        background-color: transparent;
        transition: background-color 0.3s ease;
    }

    .header-solid {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better separation */
    }
</style>
<header id="main-header" class="p-3 fixed-top header-transparent">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <img src="/images/pixabay.png" class="logo-img">
            </a>

            <!-- Include your search component here -->
            {% include 'front/components/search-sm.html.twig' %}
            {% include 'front/components/4-columns-dropdown.html.twig' %}


            <div class="text-end">
                <button type="button" class="btn btn-outline-light text-dark me-2" style="border: none;"
                        data-bs-toggle="modal" data-bs-target="#loginModal">{{ 'Log in'|trans }}</button>
                <button type="button" class="btn btn-outline-dark me-2"
                        data-bs-toggle="modal" data-bs-target="#registerModal">{{ 'Join'|trans }}</button>
                <button type="button" class="btn btn-success"
                        data-bs-toggle="modal" data-bs-target="#registerModal">
                    <i class="fa-solid fa-arrow-up-from-bracket"></i> {{ 'Upload'|trans }}</button>
            </div>
        </div>
    </div>
</header>
{% include 'front/components/login-modal.html.twig' %}
{% include 'front/components/register-modal.html.twig' %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() > 50) {
                $('#main-header').removeClass('header-transparent').addClass('header-solid');
            } else {
                $('#main-header').removeClass('header-solid').addClass('header-transparent');
            }
        });
    });
</script>