<style>
    #hero {
        min-height: 440px;
        width: 100%;
        background-image: url("https://cdn.pixabay.com/index/2024/08/01/04-51-06-225_1440x550.jpg");
        -webkit-background-size: cover;
    }

    .h-100 {
        min-height: 440px;
        /*height: 100% !important;*/
        background-color: rgba(0, 0, 0, 0.3);

        h1 {
            margin: 0 0 8px;
            font-size: 32px;
            font-weight: 800;
            box-sizing: border-box;
            text-align: left;
            --vh: 9.58px;
            color: #ffffff;
            font-family: "Open Sans, system-ui";
            cursor: default;
            line-height: 1.5;
            tab-size: 4;
            word-break: break-word;
        }

        h2 {
            font-weight: 400;
            font-size: 14px;
            margin: 0 0 24px;
            color: #fff;
            box-sizing: border-box;
            text-align: left;
            --vh: 9.58px;
            font-family: "Open Sans, system-ui";
            cursor: default;
            line-height: 1.5;
            tab-size: 4;
            word-break: break-word;
        }

        .container {
            background-color: #fff;
            box-shadow: 0 4px 12px rgba(25, 27, 38, .08);
            border: 1px solid #ebecf0;
            height: 56px;
            padding: 0 0 0 24px;
            border-radius: 56px;
            width: 100%;
            display: flex;
            align-items: center;
            position: relative;
            box-sizing: border-box;
            text-align: left;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            --vh: 9.58px;
            font-family: "Open Sans, system-ui";
            cursor: default;
            line-height: 1.5;
            tab-size: 4;
            word-break: break-word;
        }

    }
</style>
<div id="hero" class="text-center bg-image">
    <div class="mask h-100">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1>{{ 'Stunning royalty-free images & royalty-free stock'|trans }}</h1>
                <h2>{{ 'Over 4.6 million+ high quality stock images, videos and music shared by our talented community.'|trans }}</h2>
                <div>
                {% include 'front/components/search.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>
